<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abroad.hr.dao.ICompanyBaseDao">

	<resultMap type="com.abroad.hr.domain.CompanyBase" id="companyBase">
		<result property="id" column="id" />	
		<result property="companyName" column="company_name" />	
		<result property="local" column="local" />	
		<result property="vocation" column="vocation" />	
		<result property="phone" column="phone" />	
		<result property="linkman" column="linkman" />	
		<result property="linkStatus" column="link_status" />	
		<result property="important" column="important" />	
	</resultMap>
	
	<sql id="insertKey">
		<!-- 去掉多余的逗号 -->
		<trim suffixOverrides=",">
				id,
			<if test='null != companyName and !companyName.equals("")'>
				company_name,
			</if>
			<if test='null != local and !local.equals("")'>
				local,
			</if>
			<if test='null != vocation and !vocation.equals("")'>
				vocation,
			</if>
			<if test='null != phone and !phone.equals("")'>
				phone,
			</if>
			<if test='null != linkman and !linkman.equals("")'>
				linkman,
			</if>
			<if test="null != linkStatus">
				link_status,
			</if>
			<if test="null != important">
				important
			</if>
		</trim>
	</sql>
	<sql id="insertValue">
		<!-- 去掉多余的逗号 -->
		<trim suffixOverrides=",">
				#{id},
			<if test='null != companyName and !companyName.equals("")'>
				#{companyName},
			</if>
			<if test='null != local and !local.equals("")'>
				#{local},
			</if>
			<if test='null != vocation and !vocation.equals("")'>
				#{vocation},
			</if>
			<if test='null != phone and !phone.equals("")'>
				#{phone},
			</if>
			<if test='null != linkman and !linkman.equals("")'>
				#{linkman},
			</if>
			<if test="null != linkStatus">
				#{linkStatus},
			</if>
			<if test="null != important">
				#{important}
			</if>
		</trim>
	</sql>
<!-- 	<insert id="insert" keyProperty="id" useGeneratedKeys="true"> -->
	<insert id="insert" >
		insert into company_base (<include refid="insertKey"/>) values (<include refid="insertValue"/>)
	</insert>
	
	<select id="findById" resultMap="companyBase">
		select * from company_base where id = #{id}
	
	</select>
	
	<update id="update">
		update company_base 
		<set>
			<!-- 去掉多余的逗号 -->
			<trim suffixOverrides=",">
				<if test='null != companyName and !companyName.equals("")'>
					company_name = #{companyName},
				</if>
				<if test='null != local and !local.equals("")'>
					local = #{local},
				</if>
				<if test='null != vocation and !vocation.equals("")'>
					vocation = #{vocation},
				</if>
				<if test='null != phone and !phone.equals("")'>
					phone = #{phone},
				</if>
				<if test='null != linkman and !linkman.equals("")'>
					linkman = #{linkman},
				</if>
				<if test="null != linkStatus">
					link_status = #{linkStatus},
				</if>
				<if test="null != important">
					important = #{important}
				</if>
			</trim>
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById">
		delete from company_base where id = #{id}
	</delete>
	
	
	
</mapper>