<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abroad.uc.dao.IOrgMapper">
	<!-- 查询当前所拥有的子集团 -->
	<select id="queryOrgIDsChildren"  resultType="Long">
		SELECT
			id
		FROM
			hr_org
		WHERE
			FIND_IN_SET(id, queryChildrenOrg(#{orgId}));
	</select>
</mapper>