<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abroad.uc.dao.IPermissionMapper">
	<!-- 菜单权限 -->
	<resultMap type="com.abroad.uc.domain.MenuPermission" id="menuPermission">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="type" column="type"/>
		<result property="pid" column="pid" />
		<result property="url" column="url" />
		<result property="groupId" column="groupId" />
		<result property="orgId" column="orgId" />
	</resultMap>
	<!-- 功能权限 -->
	<resultMap type="com.abroad.uc.domain.OperationPermission" id="operationPermission">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="type" column="type"/>
		<result property="url" column="url" />
		<result property="groupId" column="groupId" />
		<result property="orgId" column="orgId" />
	</resultMap>
	<!-- shrio功能权限 -->
	<resultMap type="HashMap" id="chainDefinitionDomain" >
		   <result property="key" column="url" />  
   		   <result property="value" column="roleCode" /> 
	</resultMap>
	<!-- 查询菜单根据用户ID -->
	<select id="queryMenuPermissByUserId" resultMap="menuPermission">
		SELECT
			hr_menu.id AS id,
			hr_menu.code AS CODE,
			hr_menu.name AS NAME,
			hr_menu.type AS type,
			hr_menu.pid AS pid,
			hr_menu.url AS url,
			hr_menu.pk_hr_group AS groupId,
			hr_menu.pk_hr_org AS orgId
		FROM
			hr_menu hr_menu
		JOIN hr_menu_role hr_menu_role ON hr_menu_role.pk_hr_role IN (
			SELECT
				hr_user_role.pk_hr_role
			FROM
				hr_user_role hr_user_role
			WHERE
				hr_user_role.pk_hr_user =  #{userId}  
		)
		AND hr_menu.id = hr_menu_role.pk_hr_menu 
		AND hr_menu.dr = 0
	</select>
		<!-- 查询功能根据用户ID -->
	<select id="queryOperPermissByUserId" resultMap="operationPermission">
		SELECT
			hr_operation.id AS id,
			hr_operation.code AS CODE,
			hr_operation.name AS NAME,
			hr_operation.type AS type,
			hr_operation.pid AS pid,
			hr_operation.url AS url,
			hr_operation.pk_hr_group AS groupId,
			hr_operation.pk_hr_org AS orgId
		FROM
			hr_operation hr_operation
		JOIN hr_operation_role hr_operation_role ON hr_operation_role.pk_hr_role IN (
			SELECT
				hr_user_role.pk_hr_role
			FROM
				hr_user_role hr_user_role
			WHERE
				hr_user_role.pk_hr_user = #{userId}
		)
		AND hr_operation.id = hr_operation_role.pk_hr_operation
		AND hr_operation.dr = 0
	</select>
	<select id="queryMouduleChainDefinition" resultMap="chainDefinitionDomain">
	SELECT
		hr_operation.url AS url,
		CONCAT('userAuth,roleAuth[',t1.roleCode,']') AS roleCode
	FROM
		hr_operation
	JOIN (
		SELECT
			hr_role.code AS roleCode,
			hr_operation_role.pk_hr_operation AS operationId
		FROM
			hr_role hr_role
		JOIN hr_operation_role hr_operation_role ON hr_role.id = hr_operation_role.pk_hr_role
	) t1
	JOIN bd_moudule ON hr_operation.id = t1.operationId
	AND hr_operation.pk_bd_moudule = bd_moudule.id
	AND bd_moudule.code = #{mouduleCode}
	AND hr_operation.dr = 0
	</select>
</mapper>